html, body {
    width: 100%;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
}
header {
    padding-top: 20px;
    display: inline;
    background-color: white;
    white-space: nowrap;
}
.logo {
    display: inline-block;
    margin-left:0;
    height: 40px;
}
.search-bar {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    height: 40px;

}
button {
    display: inline-block;
    background-color: white;
    height: 40px;
}
.avatar {
    display: inline-block;
    margin-right: 0;
    height: 40px;
} 
.menu {
    display: inline-block;
    margin-right: 0;
    height: 40px;
}
.upload {
    display: inline-block;
    margin-right: 0;
    height: 40px;
}
.video {
    padding-left: 100px;
    padding-top: 100px;
}
.video-text {
    border
}
.video-title {
    
}
