html, body {
    width: 1060px;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(235, 233, 233);
}
header {
    background-color: white;
    white-space: nowrap;
    height: 80px;
    width: 1060px;
    position: relative;
}
.logo {
    position: relative;
    margin-left:10px;
    margin-top: 10px;
    height: 30px;
}
.search-bar {
    position: absolute;
    left: 310px;
    margin-top: 20px;
    width: 350px;
    height: 30px;
}
button {
    position: absolute;
    margin-top: 24px;
    left: 669px;
    background-color: white;
    height: 30px;
    width: 80px;
}
.search-img {
    height: 20px;

}
.menu {
    display: inline-block;
    height: 30px;
    float: right;
}
.upload {
    display: inline-block;
    height: 30px;
    float: right;
}
.avatar {

    height: 30px;
    float: right;
    padding-right: 10px;
    
}
.video {
    display: inline-block;
    padding-left: 30px;
    padding-top: 30px;
}
iframe {
    box-shadow: 2px 1px 4px darkgray;

}
.video-text {
    box-shadow: 2px 1px 4px darkgray;
    background-color: white;
    width: 600px;
}
.video-title {
    font-size: 20px;
}
.recommended-title {
    font-weight: bold;
    align-content: left;
    margin-top: 0;
    
}
.recommended-text {
    position: relative;
    display: inline-block;
    margin-left: 200px;
    margin-top: 20px;
}
.avatar2 {
    display: inline-block;
    margin-right: 0;
    height: 50px;
}
.sidebar {
    display: inline-block;
    position: fixed;
    box-shadow: 2px 1px 4px darkgray;
    background-color: white;
    width: 400px;
    margin-left: 30px;
    border-left: 20px;
    border-top: 60px;
}
.recommended-video-box {
    display: inline-block;   
    width: 260px;
    padding-left: 30px;
    box-shadow:darkgray;
    background-color: white;
}
span {
    vertical-align: middle;
}